//Font Family- Poppins
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@font-face {
    font-family: 'mv_boliregular';
    src: url('../fonts/mvboli-webfont.woff2') format('woff2'),
         url('../fonts/mvboli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
